body{
    margin: 0;
}
h2 small{background: red; color: white; padding: 3px;}
.right{ float: right; padding-top: 55px; }
.left{ float: left; }
.session-box.expired pre{
    border: 3px solid red !important;
}
.right, .left{
    display: inline-block;
    width: 50%;
    padding: 10px;
    height: 365px;
}
.container{
    width: 700px;
    margin: auto;
}
.container.wide{
}
.demo{
    background-color: #BDBDBD;
    margin-bottom: 20px;
    padding: 20px 0px;
}
button{
    padding: 10px;
    background: #ededed;
    border-radius: 5px;
    font-size: 110%;
    margin: 5px;
}
button:hover{
    background-color: #BDBDBD;
    cursor: pointer;
}
button.green{
    background-color: #245600;
    color: white;
}
button.blue{
    background-color: #2a4282;
    color: white;
}
.button-bar{
    text-align: center;
    width: 100%;
}
.alert{
    padding: 10px;
    font-size: 130%;
    background: #e0c867;
    text-align: center;
}
input{
    padding: 5px;
}
input[type=text]{
    width: 100px;
}